In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('./data/processed_final_df.csv', index=False)

TypeError: read_csv() got an unexpected keyword argument 'index'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34593 entries, 0 to 34592
Columns: 9560 entries, Unnamed: 0 to CITY_Zarephath
dtypes: float64(42), int64(9518)
memory usage: 2.5 GB

In [10]:
df.shape

(34593, 9560)

In [12]:
df.head()

,Unnamed: 0,UNITID,COMP_ORIG_YR4_RT,SATMTMID,SATMT25,SATMT75,SAT_AVG_ALL,ACTEN25,PCIP45,PCIP54,...,CITY_Young Harris,CITY_Youngstown,CITY_Youngwood,CITY_Ypsilanti,CITY_Yucaipa,CITY_Yuma,CITY_ZANESVILLE,CITY_ZAREPHATH,CITY_Zanesville,CITY_Zarephath
0,0,100654.0,0.214286,417.5,370.0,465.0,850.0,15.0,0.0465,0.0039,...,0,0,0,0,0,0,0,0,0,0
1,1,100663.0,0.385975,570.0,500.0,640.0,1030.0,19.0,0.0435,0.0374,...,0,0,0,0,0,0,0,0,0,0
2,2,100690.0,0.454545,585.0,445.0,725.0,963.5,14.5,0.0000,0.0000,...,0,0,0,0,0,0,0,0,0,0
3,3,100706.0,0.236842,575.0,510.0,640.0,1129.0,21.0,0.0246,0.0055,...,0,0,0,0,0,0,0,0,0,0
4,4,100724.0,0.117182,400.0,340.0,460.0,784.0,13.0,0.0172,0.0123,...,0,0,0,0,0,0,0,0,0,0